:root {
    --widthWhite: calc(100% / 52);
    --widthBlack: calc(100% / 80);
    --heightWhite: calc(100vw / 10);
    --heightBlack: calc(100vw / 14);
  }
#menu-holder {
    position: relative;
    padding: 20px;
    width: 420px;
    display: flex;
    cursor: pointer;
    border-radius: 0 10px 10px 10px;
    background: var(--menu-holder-closed-background, #fff);
    box-shadow: var(--menu-holder-closed-box-shadow, 0 2px 5px rgba(0, 0,0, 0.3));
}

#menu-holder:focus {
    outline: 0;
}

#menu-holder:focus:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border: 2px solid #8AB4F8;
    z-index: 1;
    margin-top: 0px;
}
#app-name {

            font-family: 'BoingSemiBold', Helvetica, Arial, sans-serif;
            font-size: 24px;
            line-height: 28px;
            font-weight: 500;
            color: black;
            margin-left: 20px;
            font-weight: bold;
            margin-top: 10px;
            opacity:var(--app-name-closed-opacity, 1);
        }

body {
    height: auto;
    width: auto;
    background-color: #E8EAED;
    padding: 0;
    margin: 0;
    /*font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;*/

    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: always;
}
.button-container {
    display: flex; /* 使用 Flexbox 來排列元素 */
    justify-content: space-around; /* 將元素在容器內水平分佈 */
    margin-top: 20px;
}
h3,p{
    font-family: 'Google Sans', Helvetica, Arial, sans-serif;
}
    p {
        font-size: 18px;
        letter-spacing: 0.2px;
        font-weight: initial;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
#main-project{
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
}
#menuicon {
            display: inline-block;
            vertical-align: middle;
        }
#main-project:focus::after {
            content: '';
            pointer-events: none;
            border: 2px solid var(--focus-color);
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            top: 0;
            left: 0;
            position: absolute;
            border-radius: 8px;
            display: block;
            z-index: 2;
        }

#block-holder{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: absolute;
        padding-top: 20px;
        width: 100%;
        min-width: 1100px;
        box-sizing: border-box;
        margin-top: 20px;
    }
#projects-holder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.project-wrap {
            cursor: pointer;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 20px;
            background-color: #fff;
            overflow: hidden;
            min-height: 250px;
            max-width: 300px;
            min-width: 300px;
            transition: all 0.1s;
            transform: translate(0);
            box-shadow: 0px 2px 2px rgba(0,0,0,0.20);
            color:black;
            flex: 1;
            margin-right: 30px; /* 調整按鈕之間的間距 */
        }
.project-wrap:hover {
    transform: translate(-1px, -1px);
    box-shadow: 0px 2px 9px rgba(0,0,0,0.30);
}
#main-menu {
            border-top: 1px solid #BDC1C6;
            width: 305px;
            display: none;
            
            overflow-y: auto;
            border-radius: 0 0px 10px 10px;
            background: var(--main-menu-background, #fff);
            box-shadow: var(--main-menu-box-shadow, 0 4px 5px rgba(0, 0,0, 0.3));
            max-height: calc(100vh - 100px);
        }
ul {
            list-style: none;
            padding-left: 0;
            border-bottom: 1px solid #DADCE0;
            padding-bottom: 10px;
        }

        ul:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        li {
            cursor: pointer;
            padding: 10px 0;
            background: transparent;
            border: 0;
            outline: 0;
            padding-left: 18px;
            display: flex;
            align-items: center;
        }
        li:focus {
            outline: 2px solid var(--focus-color);
        }

        li:last-child{
            margin-bottom: 0;
        }

        li svg{
            padding-right: 12px;
        }

        li:hover {
            background-color: #E8F0FE;
            color: #1967D2;
        }
svg {
            padding-right: 10px;
        }
a {
    text-decoration: none;

}

#project-images {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
}
.project-body{
            position: relative;
        }
h3 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 0;
            text-align:center;

        }


div.white_key {
    clear:none;
    height: calc(var(--heightWhite));
    width: calc(var(--widthWhite));
    border:#000 solid 1px;
    background-color:ivory;
    float:left;
    cursor:pointer;
    position:relative;
    z-index: 1;
}
div.white_key:hover {
            box-shadow: 0px 2px 9px rgba(0,0,0,0.30);
        }

div.black_key {
position:absolute;
height: calc(var(--heightBlack));
width: calc(var(--widthBlack));
border:#000 solid 1px;
background-color:black;
cursor:pointer;
margin-left: calc(var(--widthWhite) - var(--widthBlack));

z-index: 2;
}
div.black_key:hover {
    box-shadow: 0px 2px 9px rgba(0,0,0,0.30);
}

/* From Uiverse.io by TCdesign-dev */ 
.lanSwitch {
    margin-left: auto;
    display: flex; /* 讓它可以在 flexbox 內對齊 */
    align-items: center; /* 保持內容垂直居中 */
    justify-content: center; /* 讓文字在按鈕內居中 */
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
   }
   
   .lanSwitch span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   .lanSwitch:hover {
    opacity: 4;
    right: 0;
    transform: translate(-1px, -1px);
    box-shadow: 0px 14px 56px -11px #1875FF;
   }